﻿@model Diplom.Models.AdminPanel.TaskTemplateModel
@{
    ViewBag.Title = "AdminPanelTasksEdit";
}

<h2>AdminPanelTasksEdit</h2>

@Html.ActionLink("Сохранить", "SaveTaskTemplate", new { id = Model.id})
@Html.ActionLink("Удалить", "DeleteTemporaryTaskOrRedirect", new { id = Model.id, isTemporary = Model.IsTemporary })

<div class="taskTemplateStage-edit">
    <h3>Создание заявки</h3>
    <p>Responsible role</p>
    <p>Stage Status</p>
</div>

<div class="taskTemplateStage-arrow">
    <img src="~/Temp/SitesImages/iconmonstr-arrow-down-thin.svg" />
</div>

@foreach (var item in Model.Stages)
{
    if (item.IsEdit)
    {
        <div class="taskTemplateStage-edit">
            <h3>@item.StageNumber этап</h3>
            <p>Responsible role</p>
            <p>Stage Status</p>
        </div>

        <div class="taskTemplateStage-arrow">
            <img src="~/Temp/SitesImages/iconmonstr-arrow-down-thin.svg" />
        </div>
    }
}

<div class="taskTemplateStage-plus">
    @Html.ActionLink("Add stage", "AddNewStageToTaskTemplate", new { id = Model.id }, new { @class = "taskTemplateStage-plus-image" })
</div>

<div class="taskTemplateStage-arrow">
    <img src="~/Temp/SitesImages/iconmonstr-arrow-down-thin.svg" />
</div>

<div class="taskTemplateStage-edit">
    <h3>Подтверждение выполнения</h3>
    <p>Responsible role</p>
    <p>Stage Status</p>
</div>

<style>
    .taskTemplateStage-edit {
        border: solid 1px black;
        border-radius: 10px;
        padding: 20px;
        width: 400px;
        margin: auto;
    }

    .taskTemplateStage-arrow {
        margin: auto;
        width: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .taskTemplateStage-arrow img {
            width: 50px;
            height: 50px;
        }

    .taskTemplateStage-plus {
        margin: auto;
        width: 50px;
        height: 50px;
        transition: 0.3s;
    }

        .taskTemplateStage-plus :hover {
            transform: scale(1.2);
            /*transform: rotateZ(360deg);*/
        }

    .taskTemplateStage-plus-image {
        background: url(../../Temp/SitesImages/iconmonstr-plus-circle-thin.svg) no-repeat top left;
        background-size: cover;
        width: 50px;
        height: 50px;
        display: block;
        text-indent: -9999px;
        transition: 0.3s;
    }
</style>