﻿@model Diplom.Models.AdminPanel.EditRoleModel
@{
    ViewBag.Title = "AdminPanelEditRole";
}

<h2>AdminPanelEditRole</h2>

<h2>Редактирование роли</h2>

@using (Html.BeginForm("AdminPanelEditRole", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.Id)
        <p>Название:  @Html.EditorFor(model => model.Name)</p>
        <p><input type="submit" value="Изменить" /></p>
    </div>
}