﻿@model Diplom.Models.AdminPanel.CreateRoleModel
@{
    ViewBag.Title = "AdminPanelAddRole";
}

<h2>AdminPanelAddRole</h2>

@using (Html.BeginForm("AdminPanelAddRole", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "")
        <p>Название:  @Html.EditorFor(model => model.Name)</p>
        <p><input type="submit" value="Добавить" /></p>
    </div>
}