﻿@model Diplom.Models.AdminPanel.EditUserRoleModel
@{
    ViewBag.Title = "AdminPanelAddUserRole";
}

<h2>AdminPanelAddUserRole</h2>

@using (Html.BeginForm("AdminPanelAddUserRole", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

<div>
    @Html.ValidationSummary(true, "")
    @Html.HiddenFor(model => model.SelectedUserId)
    @Html.DropDownListFor(model => model.SelectedRoleId, new SelectList(Model.Roles, "RoleId", "RoleName"), new { @class = "form-control" })
    <p><input type="submit" value="Сохранить" /></p>
</div>
}