﻿@model IEnumerable<Diplom.Models.AdminPanel.UserModel>
@{
    ViewBag.Title = "AdminPanelUsers";
}

<h2>AdminPanelUsers</h2>

<h2>Пользователи</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Имя</th>
        <th>Роль</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Email</td>
            <td>@item.Name</td>
            <td>@item.RolesToString()</td>
            <td>@Html.ActionLink("Изменить роль", "AdminPanelAddUserRole", new { id = item.Id })</td>
        </tr>
    }

</table>
