﻿
@model IEnumerable<Diplom.Models.RoleModel>
@{
    ViewBag.Title = "AdminPanelRoles";
}

<h2>AdminPanelRoles</h2>

<h2>Роли</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.RoleId</td>
            <td>@item.RoleName</td>
            <td>
                @Html.ActionLink("Изменить", "AdminPanelEditRole", new { id = item.RoleId }) |
                @Html.ActionLink("Удалить", "DeleteRole", new { id = item.RoleId })
            </td>
        </tr>
    }

    @Html.ActionLink("Добавить роль", "AdminPanelAddRole", "Admin")
</table>